<tr {{ attributes }}>
    {% if isEdit %}
        <td scope="col">
            <input
                type="text"
                data-model="user.Nom"
                data-action="blur->live#update"
                class="form-control"
                value="{{ user.Nom }}"
                id="user_Nom"
            >
        </td>
        <td scope="col">
            <input
                type="text"
                data-model="user.Prenom"
                data-action="blur->live#update"
                class="form-control"
                value="{{ user.Prenom }}"
                id="user_Nom"
            >
        </td>
        <td scope="col">
            <input
                type="number"
                data-model="user.Age"
                data-action="blur->live#update"
                class="form-control"
                value="{{ user.Age}}"
                id="user_Age"
            >
        </td>
        <td scope="col">
            <input
                type="text"
                data-model="user.Adresse"
                data-action="blur->live#update"
                class="form-control"
                value="{{ user.Adresse }}"
                id="user_Adresse"
            >
        </td>
        
        <td> 
        <button
            data-action="live#action"
            data-action-name="save"
            class="btn btn-primary btn-sm"
            type="button"
        >edit</button></td>
    {%else%}
        <td scope="col">{{user.nom}}</td>
        <td scope="col">{{user.prenom}}</td>
        <td scope="col">{{user.age}}</td>
        <td scope="col">{{user.adresse}}</td>
        <td> 
        <button
            data-action="live#action"
            data-action-name="Edit"
            class="btn btn-primary btn-sm"
        ><i class="fa fa-wrench"></i></button></td>
        {%endif%}
</tr>