{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>
<<<<<<< HEAD
    {{ component('create_form_component') }}
=======
>>>>>>> 03cac5210b637b523cf1e5268619f4499407c9f9

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.Nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
<<<<<<< HEAD
                <td>{{ user.Prenom }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ user.Age }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.Adresse }}</td>
=======
                <td>{{ user.prenom }}</td>
>>>>>>> 03cac5210b637b523cf1e5268619f4499407c9f9
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">back to list</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
